div.navbar-header img {
    width: 30px;
    float: center;
    margin-top: 50px;
    margin-right: 7px;
  }

  body {
    background-color: #edede9;
  }

  .mynavbar{
    background-color: #edede9;
    font-family: 'Caladea', serif;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
  }
