<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
        <link rel="stylesheet" href="/static/css/site.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caladea&family=Chonburi&display=swap" rel="stylesheet">

        <title>
            Fernanda Pérez Gutiérrez | Portfolio
            {% block title %}{% endblock %}
        </title>

        <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />

        {% block head %}{% endblock %}

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light mynavbar">
            <div class="container-fluid">
              <!-- <a class="navbar-brand" href="#">
                <img src="/static/img/navbar_icon.svg" alt="" width="30" height="24">
              </a> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarSupportedContent">
                <ul class="navbar-nav mb-5 mb-lg-0">
                  <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link" href="#">Portfolio</a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        {% block body %}{% endblock %}

        <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>